.address {
  width: fit-content;
  justify-content: center;
}

.address form {
  background: #fff;
}
.address button:nth-of-type(2) {
  color: green;
}

/* address.css */
.address .form-label {
  margin-top: 18px; /* Adjust the value as needed */
}

/* layout  */

.address .add-button {
  color: #fff; /* White text color */
  border: none; /* Remove the button border */
  padding: 10px 20px; /* Add some padding */
  cursor: pointer; /* Add a pointer cursor on hover */
  margin-top: 10px; /* Add some top margin to separate it from the checkbox */
}

.address button {
  background: black; /* Remove the background color */
  border: none; /* Remove the border */
  padding: 5px 10px; /* Remove padding */
  margin: 5px;
  border-radius: 5px;
  font-size: 16px; /* Adjust font size */
  color: #fff; /* Set text color to blue */
  cursor: pointer;
}
.address button:hover {
  background: #000;
  color: #fff;
}

.address .scr {
  background: #fff;
}
