/* .about {
  float: right;
  margin-right: 25%;
  
} */
.bbtn {
  background-color: transparent;
  color: black;
  border-radius: 5px;
}
.bagbtn {
  background-color: black;
  color: white;
  border-radius: 5px;
  padding: 5px 10px;
}

img {
  background: #fff;
  border-radius: 10px;
}
/* a {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
}

a:hover {
  background-color: transparent;
  color: black;
}

.previous {
  background-color: transparent;
  color: black;
} */
