.side-bag {
  width: 15rem;
  background-color: #fff;
  padding: 120px 15px 15px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  margin-left: 5rem;
}

.side-bag li {
  display: flex;
  align-items: center;
}

.side-bag img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.item-images-container {
  display: flex;
  flex-wrap: wrap;
}

.item-image {
  width: 30%;
  margin: 1%;
  box-sizing: border-box;
}
